*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(139, 58, 219);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.pw-container{
    background-color: rgb(61, 13, 109);
    padding: 0.5rem;
    width: 250px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
.pw-header{
    margin: 0.15rem;
    position: relative;
}
.pw{
    background-color: rgb(139, 58, 219);
    display: flex;
    position: relative;
    padding: 0.5rem;
    font-size: 1.2rem;
    height: 30px;
    align-items: center;
}
.pw-header button{
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(0%,20%);
    border: none;
    padding: 0.2rem;
    font-weight: bold;
    opacity: 0;
    cursor: pointer;
    transition: opacity 0.2s ease;
}
.pw-header:hover button{
    opacity: 1;
}

.pw-body{
    padding: 0.5rem 0.2rem;
}
.form-control{
    display: flex;
    justify-content: space-between;
    margin: 0.2rem 0rem;
}
#len{
    width: 40px;
}
#generate{
    width: 100%;
    margin-top: 0.5rem;
    padding: 0.3rem;
    font-size: 1.1rem;
    cursor: pointer;
    background-color: #8b9b09;
    border: none;
    color: white;
}